body {
margin: 0px;
padding: 0px;
background-image: url(pics/page-background.png);
background-repeat: repeat;
color: white;
font-family: 'Advent Pro', sans-serif;
}
p {
	text-transform: uppercase;
	font-family: 'Advent Pro', sans-serif;
}

.panel{
	background-image: url(pics/panel-background.png);
	font-family: 'Advent Pro', sans-serif;
}
